name: Build & deploy

on: 
  schedule:
  - cron: '0 12 * * SUN'
  
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, fetch data, build, and deploy
      run: |
        npm install
        npm run fetch:data "${{ secrets.FETCH_DATA_TOKEN }}"
        npm run build
        npm run deploy
      env:
        CI: true
