name: Build & deploy

on:
  schedule:
  - cron: '0 8 * * SUN'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: npm install, fetch data and build
      run: |
        npm ci
        npm run fetch:data "${{ secrets.FETCH_DATA_TOKEN }}"
        npm run build
    - name: deploy
      uses: crazy-max/ghaction-github-pages@master
      with:
        target_branch: gh-pages
        build_dir: public
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PAT: ${{ secrets.FETCH_DATA_TOKEN }}
